<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error: 403</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/backend/css/bootstrap.min.css}">
</head>

<body class="gray-bg">

<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <h3 class="font-bold">权限不足</h3>

    <div class="error-desc">
        请联系管理员分配权限！
    </div>
</div>

<!-- 全局js -->
<script th:src="@{/backend/js/jquery.min.js}"></script>
<script th:src="@{/backend/js/bootstrap.min.js}"></script>
</body>

</html>
