<html xmlns:th="http://www.thymeleaf.org"
      th:replace="backend/layout/head">
</html>
<link rel="stylesheet" href="/backend/js/plugins/editor/css/editormd.css">
<link href="/backend/js/plugins/tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<style>
    .box {
        width: 500px;
        margin: auto;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .tagsinput-primary {
        margin-bottom: 18px;
    }
    .tagsinput-primary .bootstrap-tagsinput {
        border-color: #1abc9c;
        margin-bottom: 0;
    }

    .bootstrap-tagsinput{
        width: 100%;
    }
    .bootstrap-tagsinput .label-info {
        border-radius: 4px;
        background-color: #1abc9c;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        margin: 0 5px 5px 0;
        padding: 6px 10px 6px 14px;
        transition: .25s linear;
    }
</style>
<body style="background: white">
<div class="wrapper wrapper-content animated fadeInRight" id="app">
    <div class="content">
        <div id="add-form" class="form-horizontal nice-validator n-default n-bootstrap" role="form"
             data-toggle="validator" method="POST" action="" novalidate="novalidate">

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">标题:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="title" class="form-control" v-model='title' name="title" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">所属栏目:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="category_id" class="form-control" v-model='category_id' name="category_id" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">标签:</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control tagsinput"  name="tagsinput" id="tagsinputval"  data-role="tagsinput" type="text">
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">封面图:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input id="c-image" class="form-control"  type="text"
                               aria-invalid="true">
                        <div class="input-group-addon no-border no-padding">
                            <span style="position: relative;"><button type="button" id="plupload-image"
                                                                      class="btn btn-danger plupload"
                                                                      data-input-id="c-image"
                                                                      data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                                                      data-multiple="false" data-preview-id="p-image"
                                                                      initialized="true"
                                                                      style="position: relative; z-index: 1;"><i
                                    class="fa fa-upload"></i> 上传</button></span>
                        </div>
                    </div>
                    <ul class="row list-inline plupload-preview hidden" id="p-image" style="margin: 0">
                        <li class="col-xs-3"><a href="/uploads/20200617/f7d80cbba92b6f993e8776a5c7a0b569.jpg"
                                                data-url="/uploads/20200617/f7d80cbba92b6f993e8776a5c7a0b569.jpg"
                                                target="_blank" class="thumbnail">
                            <img
                                    src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1592457561241&di=aef4f07073ad8471e9b7ffcd84241692&imgtype=0&src=http%3A%2F%2Fa0.att.hudong.com%2F64%2F76%2F20300001349415131407760417677.jpg"
                                    class="img-responsive"></a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group" >
                <label class="control-label col-xs-12 col-sm-2">内容:</label>
                <div class="col-xs-12 col-sm-8" id="editor" style="z-index: 9999;margin-left: 15px;">
                    <textarea style="display:none;" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">状态:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="radio">
                        <label><input type="radio" name="sex" value="男生" style="margin-top: 0px">男生</label>
                        <label><input type="radio" name="sex" value="女生" style="margin-top: 0px">女生</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">状态:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="radio">
                        <label><input type="radio" name="sex" value="男生" style="margin-top: 0px">男生</label>
                        <label><input type="radio" name="sex" value="女生" style="margin-top: 0px">女生</label>
                    </div>

                </div>
            </div>

            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed" @click='submit'>确定</button>
                    <button type="reset" class="btn btn-default btn-embossed" @click='reset'>重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="backend/layout/js">
</html>
<script src="/backend/js/plugins/editor/editormd.min.js"></script>
<script src="/backend/js/plugins/tagsinput/bootstrap-tagsinput.min.js"></script>
<script>

    axios.defaults.headers['X-Requested-With'] = 'XMLHttpRequest'
    axios.interceptors.request.use(function (config) {
        layer.load(1, {
            shade: [0.2, '#fff'] //0.1透明度的白色背景
        });
        return config;
    }, function (err) {
        layer.alert('未知错误，请刷新重试！');
    });


    new Vue({
        el: "#app",
        data: {
            name: '',
        },
        methods: {
            submit: function () {
                axios({
                    url: "/admin/content/category/add",
                    method: "post",
                    data: {
                        name: this.name,
                    }
                }).then(function (response) {
                    let data = response.data;
                    let index = parent.layer.getFrameIndex(window.name);

                    if (data.code === 2) {
                        layer.closeAll('loading'); //关闭加载层
                        let errorMessage = data.data;
                        let stringMessage = '';
                        for (let i = 0; i < errorMessage.length; i++) {
                            stringMessage += i + 1 + ". " + errorMessage[i] + "</br>";
                        }

                        layer.alert(stringMessage, {
                            icon: 2,
                        })
                    } else if (data.code === 0) {
                        layer.closeAll('loading'); //关闭加载层
                        //初体验
                        layer.alert('数据交互成功！', {
                            icon: 1,
                        }, function () {
                            window.parent.reset();
                            parent.layer.close(index); //再执行关闭
                        })
                    } else if (data.code === 1) {
                        layer.closeAll('loading'); //关闭加载层
                        layer.alert(data.msg, {
                            icon: 2,
                        }, function () {
                            window.parent.reset();
                            parent.layer.close(index); //再执行关闭
                        })
                    }

                }).catch(function (error) {
                    layer.closeAll('loading'); //关闭加载层
                    layer.alert(error.response.data.msg,
                        {
                            icon: 2,
                        }
                    )
                })
            },
            reset: function () {
                this.name = '';
            }
        },
        mounted: function () {
            let editor = editormd("editor", {
                width: "65%",
                height: 640,
                path: "/backend/js/plugins/editor/lib/",
                emoji: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "./php/upload.php",
                htmlDecode: "style,script,iframe|on*",
            });
        }
    });
</script>
</body>
</html>
