<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.blog.mapper.TagMapper">

    <!--number加1-->
    <update id="setIncByNumber">
        update blog_tag set number=number+1 where name=#{name}
    </update>

    <!--number减1-->
    <update id="setDecByNumber">
        update blog_tag set number=number-1 where name=#{name}
    </update>

</mapper>
