<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>已登录</title>
    <link rel="shortcut icon" th:href="@{/resources/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/backend/css/bootstrap.min.css}">
</head>

<body class="gray-bg">

<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">已登录</h3>

    <div class="error-desc">
        无需再登录
    </div>
    <br>
    <a href="/admin/" class="btn btn-warning m-t">主页</a>
</div>

<!-- 全局js -->
<script th:src="@{/resources/backend/js/jquery.min.js}"></script>
<script th:src="@{/resources/backend/js/bootstrap.min.js}"></script>
</body>

</html>
