<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="frontend/header">-->
<!--</html>-->
<!--<header class="intro-header"-->
<!--        style="background-image:url(/frontend/amaze/images/header.jpg);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
<!--                <div class="site-heading">-->
<!--          <span class="subheading">-->
<!--              我不怕千万人阻挡，只怕自己投降-->
<!--          </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--<div class="am-g am-g-fixed blog-fixed">-->
<!--    <div class="am-u-lg-8 am-u-sm-12">-->
<!--        <main class="articles-list">-->
<!--            <div class="container">-->
<!--                <div class="am-g am-g-fixed blog-fixed">-->
<!--                    <div class="am-u-lg-12 am-u-sm-12">-->
<!--                        <article class="am-article blog-article-p article-trigger">-->
<!--                            <div id="post-content" class="am-article-bd article-body">-->
<!--                                <h2>About me</h2>-->
<!--                                <p>我是Yang，一名PHP 和 Java开发者，技术一般，经历平平，但是也一直渴望进步，同时也努力活着，为了人生不留遗憾，也希望能够一直做着自己喜欢的事情，得闲时分享心得、分享一些浅薄的经验，等以后老得不能再老了，就说故事已经讲完了,不去奢求圆满。</p>-->
<!--                                <p>相信浏览这段话的你也知道，学习是一件极其枯燥而无聊的过程，甚至有时候显得很无助，我也想告诉你，成长就是这样一件残酷的事情，任何成功都不是一蹴而就，需要坚持、需要付出、需要你的毅力，短期可能看不到收获，因为破茧成蝶所耗费的时间不是一天。</p>-->
<!--                                <h2>Contact</h2>-->
<!--                                <ul>-->
<!--                                    <li>我的邮箱：2111749915@qq.com</li>-->
<!--                                    <li>我的网站：http://47.107.127.70:1237</li>-->
<!--                                </ul>-->
<!--                                <h2>Quote</h2>-->
<!--                                <ul>-->
<!--                                    <li>Steve Jobs</li>-->
<!--                                </ul>-->
<!--                                <blockquote style="background: #ffffe0">-->
<!--                                    <p>Stay hungry,Stay foolish</p>-->
<!--                                </blockquote>-->
<!--                                <ul>-->
<!--                                    <li>Kahlil Gibran</li>-->
<!--                                </ul>-->
<!--                                <blockquote style="background: #ffffe0">-->
<!--                                    <p>The FIRST TIME WHEN I saw her being meek that she might attain height.<br>-->
<!--                                        The SECOND TIME WHEN I saw her limping BEFORE the crippled.<br>-->
<!--                                        The third TIME WHEN she was given TO choose BETWEEN the hard AND the easy, AND she chose the easy.<br>-->
<!--                                        The fourth TIME WHEN she COMMITTED a wrong, AND comforted herself that others also COMMIT wrong.<br>-->
<!--                                        The fifth TIME WHEN she forbore FOR weakness, AND attributed her patience TO strength.<br>-->
<!--                                        The sixth TIME WHEN she despised the ugliness of a face, AND knew NOT that it was ONE of her own masks.<br>-->
<!--                                        AND the seventh TIME WHEN she sang a song of praise, AND deemed it a virtue.</p>-->
<!--                                </blockquote>-->

<!--                                <aside class="blog-rights clearfix">-->
<!--                                    <p>本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。</p>-->
<!--                                </aside>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                        <hr>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <aside class="comments" id="comments">-->


<!--                </aside>-->


<!--                <aside class="create-comment" id="create-comment">-->
<!--                    <hr>-->
<!--                    <h2><i class="fa fa-pencil"></i> 添加评论</h2>-->
<!--                    <table id="commentForm" class="form">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <input type="hidden" id="blogId" name="blogId" value="1">-->
<!--                                <input type="text" name="commentator" id="commentator" placeholder="(*必填)怎么称呼你?">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <input type="email" name="email" id="email" placeholder="(*必填)你的联系邮箱">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <input type="text" name="websiteUrl" id="websiteUrl" placeholder="你的网站地址(可不填)">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <input style="width:50%" type="text" name="verifyCode" id="verifyCode" placeholder="(*必填)请输入验证码">&nbsp;&nbsp;-->
<!--                                <img alt="单击图片刷新！" class="pointer" style="margin-top: 15px; border-radius: 25px;" src="/common/kaptcha" onclick="this.src='/common/kaptcha?d='+new Date()*1">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <textarea rows="5" name="commentBody" id="commentBody" placeholder="(*必填)请输入你的评论"></textarea>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td colspan="2" align="center">-->
<!--                                <button id="commentSubmit" type="submit" class="submit am-btn am-btn-primary">提交-->
<!--                                </button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </aside>-->

<!--                <p class="back-top" id="back-top" style="display: block;"><a href="#top"><span></span></a></p>-->
<!--            </div>-->

<!--        </main>-->
<!--    </div>-->
<!--</div>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="frontend/footer">-->
<!--</html>-->
