<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="frontend/header">-->
<!--</html>-->
<!--<header class="intro-header"-->
<!--        style="background-image:url(/frontend/amaze/images/header.jpg);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
<!--                <div class="site-heading">-->
<!--          <span class="subheading">-->
<!--              我不怕千万人阻挡，只怕自己投降-->
<!--          </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--<div class="am-g am-g-fixed blog-fixed">-->
<!--    <div class="am-u-lg-8 am-u-sm-12">-->
<!--        <main class="articles-list">-->
<!--            <div>-->

<!--                <div class="title">-->
<!--                    <h3>友链</h3>-->
<!--                </div>-->
<!--                <div class="list">-->

<!--                    <ul>-->
<!--                        <li th:if="${link.type ==0}" th:each="link : ${links}"  ><a style="color: #0e9aef" th:href="${link.url}">[(${link.name})]</a>-->
<!--                            - -->
<!--                            [(${link.description})]-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                </div>-->


<!--                <div class="title">-->
<!--                    <h3>推荐网站</h3>-->
<!--                </div>-->
<!--                <div class="list">-->
<!--                    <ul>-->

<!--                        <li th:if="${link.type ==1}" th:each="link : ${links}" ><a style="color: #0e9aef" th:href="${link.url}">[(${link.name})]</a>-->
<!--                            - -->
<!--                            [(${link.description})]-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->


<!--                <div class="title">-->
<!--                    <h3>个人链接</h3>-->
<!--                </div>-->
<!--                <div class="list">-->
<!--                    <ul>-->

<!--                        <li th:if="${link.type ==1}" th:each="link : ${links}"><a style="color: #0e9aef" th:href="${link.url}">[(${link.name})]</a>-->
<!--                            - -->
<!--                            [(${link.description})]-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->

<!--                <h2 id="个人链接">链接须知</h2>-->
<!--                <p>欢迎互换友链 ^_^ 不过请确定贵站可以正常运营.</p>-->
<!--                <p>我的邮箱是-->
<!--                    211749915@qq.com-->
<!--                    , 格式要求如下:-->
<!--                </p>-->
<!--                <ul>-->
<!--                    <li>网站名称：Yang-blog</li>-->
<!--                    <li>网站链接：http://47.107.127.70:1237</li>-->
<!--                    <li>网站描述：Yang的个人博客</li>-->
<!--                </ul>-->

<!--                <p>请保证自己的链接长期有效,不然可能会被清理.</p>-->

<!--            </div>-->
<!--        </main>-->
<!--    </div>-->
<!--</div>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="frontend/footer">-->
<!--</html>-->
