<!DOCTYPE html>
<html lang="GB18030">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" th:href="@{/backend/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/backend/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/backend/css/main.css}">
        <link rel="stylesheet" th:href="@{/backend/plus/ztree/zTreeStyle.css}">
        <!-- Bootstrap table -->
        <link rel="stylesheet" th:href="@{/backend/bootstrap/css/bootstrap-table.min.css}">

        <style>
            /* 表格样式 */

            .table>tbody>tr>td {
                border: 0px;
                text-align: center;
            }

            .bootstrap-table .table thead>tr>th {
                text-align: center;
            }

            .table thead {
                background: #ebeaea;
            }
        </style>
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div>
                        <a class="navbar-brand" style="font-size:32px;" href="#">Yang blog</a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top:8px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                        data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                    张三
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            个人设置
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            消息
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="layout.html">
                                            <i class="glyphicon glyphicon-off"></i>
                                            退出系统
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li style="margin-left:10px;padding-top:8px;">
                            <button type="button" class="btn btn-default btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                帮助
                            </button>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

