<script th:src="@{/backend/jquery/jquery-2.1.1.min.js}"></script>
<script th:src="@{/backend/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/backend/plus/vue/vue.min.js}"></script>
<script th:src="@{/backend/plus/vue/axios.min.js}"></script>
<script th:src="@{/backend/plus/layer/layer.js}"></script>
<script th:src="@{/backend/plus/ztree/jquery.ztree.all-3.5.min.js}"></script>
<script th:src="@{/backend/script/docs.min.js}"></script>
<script th:src="@{/backend/bootstrap/js/bootstrap-table.min.js}"></script>
<script th:src="@{/backend/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/backend/bootstrap/js/bootstrap-table-vue.min.js}"></script>
<script th:src="@{/backend/script/left-menu.js}"></script>
<script th:src="@{/backend/bootstrap/js/doublebox-bootstrap.js}"></script>
<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>

</body>
</html>
