<script th:src="@{/backend/jquery/jquery-2.1.1.min.js}"></script>
<script th:src="@{/backend/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.bootcss.com/vue/2.2.2/vue.min.js}"></script>
<script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
<script th:src="@{/backend/plus/layer/layer.js}"></script>
<script th:src="@{/backend/plus/pagination/pagination.min.js}"></script>
<script th:src="@{/backend/plus/ztree/jquery.ztree.all-3.5.min.js}"></script>
<script th:src="@{/backend/script/docs.min.js}"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });

    $("tbody .btn-success").click(function () {
        window.location.href = "assignPermission.html";
    });
</script>
<script th:include="::footer-js">
</script>
</body>
</html>
