<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" style="border-radius: 50%;background: #f0f4f7;width: 75px;height: 75px" src="/backend/img/profile_small.jpg"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear" style="padding-left: 20px;">
                            <span class="block m-t-xs"><strong class="font-bold" th:text="${username}"></strong></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="profile.html">个人资料</a></li>
                        <li><a href="/admin/logout">安全退出</a></li>
                    </ul>
                </div>
            </li>

            <li  th:each="value : ${menu}" >
                <a href="#">
                    <i th:class="${value.icon}"></i>
                    <span class="nav-label">[(${value.name})]</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li th:each="val :${value.childrenList}">
                        <a class="J_menuItem" th:href="${val.url}">
                            <i th:class="${val.icon}"></i>
                            [[${val.name}]]</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>



<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row content-tabs">
        <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="active J_menuTab" data-id="index_v12.html">首页</a>
            </div>
        </nav>
        <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <a href="/admin/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
    </div>
    <div class="row J_mainContent" id="content-main">
        <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/admin/auth/admin/index" frameborder="0"
                data-id="index_v1.html" seamless></iframe>
    </div>
</div>
<!--左侧导航结束-->