<div class="col-sm-3 col-md-2 sidebar">
    <div class="tree">
        <ul style="padding-left:0px;" class="list-group">
            <li class="list-group-item tree-closed">
                <a href="/">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    控制面板
                </a>
            </li>

            <li class="list-group-item tree-closed" th:each="value : ${menu}">
                    <i class="glyphicon glyphicon glyphicon-tasks"></i>
                    <a th:text="${value.name}">
                        [[${val.name}]]
                    </a>
                <ul style="margin-top:10px;" hidden>
                    <li style="height:30px;" th:each="val :${value.childrenList}">
                        <a th:href="${val.url}">
                            [[${val.name}]]
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="list-group-item tree-closed">
                <a href="param.html">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    参数管理
                </a>
            </li>
        </ul>
    </div>
</div>
