<!DOCTYPE html>
<html lang="GB18030">
    <head>
        <title>Yang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" th:href="@{/backend/bootstrap/css/bootstrap.min.css}">
 <!--       <link rel="stylesheet" th:href="@{/backend/css/font-awesome.min.css}">-->
        <link rel="stylesheet" th:href="@{/backend/css/main.css}">
        <!-- Bootstrap table -->
        <link rel="stylesheet" th:href="@{/backend/bootstrap/css/bootstrap-table.min.css}">
        <link rel="stylesheet" th:href="@{/backend/bootstrap/css/doublebox-bootstrap.css}">
        <link rel="stylesheet" th:href="@{/backend/plus/ztree/css/zTreeStyle/zTreeStyle.css}" type="text/css">
        <style>
            /* 表格样式 */

            .table > tbody > tr > td {
                border: 0px;
                text-align: center;
            }

            .bootstrap-table .table thead > tr > th {
                text-align: center;
            }

            .table thead {
                background: #ebeaea;
            }
        </style>
    </head>
    <body>